<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Home</title>
    </head>
    <body>
        <h1>Home page</h1>
        <h2>
            ${user ?
            `<p>Hello, ${user.userName}. Visit your <a href="/profile">profile</a>.</p>`
            :
            `<p>Welcome! Please <a href="/login">log in</a> or <a href="/signUp">Sign up</a></p>`
            }
        </h2>
    </body>
</html>
