* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  min-height: 100vh;
  background-color: #eff1f2;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.root {
  height: 100vh;
}
